body{
	background-color:#F2F2F2;
}

.featcm{
position: absolute;
left: 50%;
right:50%;
transform:translate(-50%,-50%);
width:40%;
margin-top:2%;
}

.featca{
position: absolute;
left: 50%;
right:50%;
transform:translate(-50%,-50%);
width:40%;
margin-top:5%;
}


.featimg{
	position: absolute;
	left: 50%;
	right:50%;
	transform:translate(-50%,-50%);
	width:40%;
	margin-top:22%;
	display:grid;
	grid-template-columns: 200px 200px;
	grid-row: auto auto;
	grid-column-gap: 4%;
	grid-row-gap: 4%;
 }

 .each{
    padding:8%;
    display:flex;
    align-items:center;
    justify-content:center;
}
