body{
	background-color:#F2F2F2;
}

.featC{
position: absolute;
left: 50%;
right:50%;
transform:translate(-50%,-50%);
width:40%;
margin-top:10px;
}

.featImg{
	display:grid;
	grid-template-columns:100px,100px,100px;
	grid-gap:10px;
	border-radius:15px;
}