*x{
	outline:1px solid red;
}

bodyx{
	background-color:#F2F2F2;
}

.login{
	margin-left:2%;
}

.featcm{
position: absolute;
left: 50%;
right:50%;
transform:translate(-50%,-50%);
width:40%;
margin-top:2%;
}

.simple{
position: absolute;
left: 50%;
right:50%;
transform:translate(-50%,-50%);
width:20%;
margin-top:1%;
}

.red{
	color:red;
	text-decoration:none;
	display:inline;
	width:25%;
	margin-left:10px;
}

a:hover{
	text-decoration:none;
}

.price2{
	margin-top:7px;

}

.cart{
position: absolute;
margin-left:4%;
margin-top:1%;
}

.cart2{
	margin-top:8%;
	width:40%;
	margin-left:4%;
	display:inline-block;
}

.featca{
position: absolute;
left: 50%;
right:50%;
transform:translate(-50%,-50%);
width:40%;
margin-top:5%;
}

.under{
	margin:2px;
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:48%;
	left:4%;
}

.under2{
	margin:2px;
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:48%;
	left:52%;
}

.under3{
	margin:2px;
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:-2%;
	left:4%;
}

.under4{
	margin:2px;
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:-2%;
	left:52%;
}

.featimg{
	position: absolute;
	left: 50%;
	right:50%;
	transform:translate(-50%,-50%);
	width:40%;
	margin-top:22%;
	display:grid;
	grid-template-columns: 200px 200px;
	grid-row: auto auto;
	grid-column-gap: 4%;
	grid-row-gap: 4%;
 }

 .each{
    padding:8%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.featimg2{
	position: absolute;
	left: 50%;
	right:50%;
	transform:translate(-50%,-50%);
	width:80%;
	margin-top:27%;
	display:grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-row: auto auto;
	grid-column-gap: 4%;
	grid-row-gap: 4%;
 }

 .each2{
    padding:8%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sunder1{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:66%;
	left:2%;
}

.sunder2{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:66%;
	left:28%;
}

.sunder3{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:66%;
	left:54%;
}

.sunder4{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:66%;
	left:80.5%;
}

.sunder5{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:32.5%;
	left:2%;
}

.sunder6{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:32.5%;
	left:28%;
}

.sunder7{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:32.5%;
	left:54%;
}

.sunder8{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:32.5%;
	left:80.5%;
}

.sunder9{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:-0.5%;
	left:2%;
}

.sunder10{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:-0.5%;
	left:28%;
}

.sunder11{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:-0.5%;
	left:54%;
}

.sunder12{
	display:inline-block;
	vertical-align:top;
	position: absolute;
	bottom:-0.5%;
	left:80.5%;
}
